.film-strip {
  width: 280px;

  display: flex;
  flex-direction: column;
  gap: 18px;

  padding: 20px;

  background: var(--primary-red);

  border-radius: 10px;

  animation: floatFilm 6s ease-in-out infinite;
}

.film-frame {
  position: relative;

  background: #000;
  padding: 10px;
}

.film-frame::before,
.film-frame::after {
  content: "";

  position: absolute;
  top: 0;

  width: 18px;
  height: 100%;

  background-image: repeating-linear-gradient(
    to bottom,
    white 0px,
    white 12px,
    transparent 12px,
    transparent 24px
  );
}

.film-frame::before {
  left: -18px;
}

.film-frame::after {
  right: -18px;
}

.film-frame img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

@keyframes floatFilm {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}