.navbar {
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 7%;
  z-index: 999;

  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-red);
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  color: var(--black);
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--primary-red);
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}